<p>rooms-add works!nnn</p>
{{roomsForm.valid | json}}
{{roomsForm.dirty| json}}
{{roomsForm.pristine| json}}
{{roomAmenities['errors']?'enter':'good'}}
<div class="alert alert-primary" *ngIf="show">
    Succes
</div>
<form action="" #roomsForm="ngForm" class="flex w-1/2" (ngSubmit)="handleSubmit($event,roomsForm)">
    <div class="forms-group">
        <input required [(ngModel)]="rooms.roomType"
        minlength="5"
        class="form-control" type="text" name="Room-type" id=""
            placeholder="Rooms Type">
    </div>
    <div class="forms-group">
        <input required minlength="1" maxlength="8"  #roomAmenities="ngModel"
            [(ngModel)]="rooms.amenities" class="form-control" type="text" name="Amenities" id=""
            placeholder="Amenities">
    </div>
    <div class="forms-group">
        <input required [(ngModel)]="rooms.price" class="form-control" type="text" name="Price" id=""
            placeholder="Room Price">
    </div>
    <div class="forms-group">                                                                                                                   
        <input required [(ngModel)]="rooms.photos" class="form-control" type="text" name="Link" id=""
            placeholder="Photos (link)">
    </div>
    <div class="forms-group">
        <input required [(ngModel)]="rooms.checkinTime" class="form-control" type="datetime" name="Checkin" id=""
            placeholder="Checkin Time">
    </div>
    <div class="forms-group">
        <input required [(ngModel)]="rooms.checkoutTime"  class="form-control" type="datetime" name="Checkout" id="" placeholder="CheckOut Time">
    </div>
    <div class="forms-group">
        <input required [(ngModel)]="rooms.rating"  class="form-control" type="number" name="Rating" id="" placeholder="Enter Price">
    </div>
    <div class="forms-group">
        <button type="submit" class="btn btn-primary" [disabled]="!roomsForm.valid">Submit</button>
    </div>
</form>
