<p>booking works!</p>

<!-- {{boookingForm.value | json}} -->

<form [formGroup]="boookingForm" class="formContainer" (ngSubmit)="addingForm">
    <mat-form-field class="example-full-width">
        <mat-label>RoomId</mat-label>
        <input type="number" matInput formControlName="roomId" placeholder="Ex. 112 ">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>guestEmail</mat-label>
        <input type="email" matInput formControlName="guestEmail" placeholder="Ex. 112@gmail.com ">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>GuestName</mat-label>
        <input type="Text" matInput formControlName="guestName" placeholder="Ex. 112 ">
        <mat-error *ngIf="boookingForm.get('guestName')?.hasError('minlength')">
            GuestName should be minimum 5 characters
        </mat-error>
    </mat-form-field>



    <mat-form-field class="example-full-width">
        <mat-label>BookingAmount</mat-label>
        <input type="number" matInput formControlName="bookingAmount" placeholder="Ex. 999.... ">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>MobileNumber</mat-label>
        <input type="Text" matInput formControlName="mobileNumber" placeholder="Ex. 999.... ">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Check In Date</mat-label>
        <input matInput [matDatepicker]="checkinDate" formControlName="checkinDate">
        <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
        <mat-error *ngIf="boookingForm.get('checkinDate')?.hasError('invalidDate')">
            Date is invalid Checkindate mustbe greater than chekout Date
        </mat-error>
        <mat-datepicker-toggle matIconSuffix [for]="checkinDate"></mat-datepicker-toggle>
        <mat-datepicker #checkinDate></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Check Out Date</mat-label>
        <input matInput [matDatepicker]="checkoutDate" formControlName="checkoutDate">
        <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
        <mat-datepicker-toggle matIconSuffix [for]="checkoutDate"></mat-datepicker-toggle>
        <mat-datepicker #checkoutDate></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Booking Date</mat-label>
        <input matInput [matDatepicker]="bookingDate" formControlName="bookingDate">
        <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
        <mat-datepicker-toggle matIconSuffix [for]="bookingDate"></mat-datepicker-toggle>
        <mat-datepicker #bookingDate></mat-datepicker>
    </mat-form-field>

    <mat-accordion class="example-headers-align" multi formGroupName="address">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Address
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-form-field>
                <mat-label>Address Line 1</mat-label>
                <input matInput formControlName="addressLine1">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Address Line 2</mat-label>
                <input matInput formControlName="addressLine2">
            </mat-form-field>
            <mat-form-field>
                <mat-label>City</mat-label>
                <input matInput formControlName="city">
            </mat-form-field>
            <mat-form-field>
                <mat-label>State</mat-label>
                <input matInput formControlName="state">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Country</mat-label>
                <input matInput formControlName="country">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Zipcode</mat-label>
                <input matInput formControlName="zipCode">
            </mat-form-field>
        </mat-expansion-panel>
    </mat-accordion>






    <div formArrayName="guests">
        <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Guests Details
                        <div>
                            <button mat-raised-button extended color="primary" type="submit" (click)="addGuest()">
                                <mat-icon>favorite</mat-icon>
                                Add Guest
                            </button>
                        </div>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div *ngFor="let guest of guests.controls; let i=index;">
                    <div [formGroupName]="i">
                        <mat-form-field class="example-full-width">
                            <mat-label>Guest Name {{i+1}}</mat-label>
                            <input type="text" matInput formControlName="guestName" placeholder=".... ">
                            <mat-error *ngIf="guest.get('guestName')?.hasError('required')">
                                GuestName should be required
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <mat-label>Guest Age {{i+1}}</mat-label>
                            <input type="number" matInput formControlName="age" placeholder=".... ">
                            <mat-error *ngIf="guest.get('age')?.hasError('required')">
                                GuestAge should be required
                            </mat-error>
                        </mat-form-field>
                        <button mat-raised-button extended color="warn" type="submit" (click)="deleteGuest(i)">
                            <mat-icon>favorite</mat-icon>
                            Remove Guest
                        </button>
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>

    </div>


</form>

<form [formGroup]="boookingForm" class="formContainer" (ngSubmit)="addingForm()" *ngIf="boookingForm.get('passport')">
    <mat-form-field class="example-full-width">
        <mat-label>Passport Number</mat-label>
        <input type="text" matInput formControlName="passport" placeholder="Ex. 112 ">
    </mat-form-field>
</form>

<button mat-raised-button extended color="primary" type="submit" [disabled]="boookingForm.invalid"
    (click)="getBookingData()">
    <mat-icon>favorite</mat-icon>
    Submit
</button>

<button mat-raised-button extended color="basic" type="submit" (click)="addPassport();addingForm()">
    <mat-icon>favorite</mat-icon>
    Add Passport
</button>

<button mat-raised-button extended color="warn" type="submit" (click)="deletePassport()">
    <mat-icon>favorite</mat-icon>
    Delete Passport
</button>


<ng-template>Hello from the snackbar</ng-template>
