<p>
  comment works!
</p>
  <table>
    <tr>
      <th>Index</th>
      <th>postId</th>
      <th>Even/Odd</th>
      <th>Body</th>
      <th>Email</th>
      <th>Name</th>
    </tr>
    <tr [ngClass]="e ? 'even' : ''"
      *ngFor="let comment of comments | async  let e = even; let o = odd; let i = index">
      <td>{{ i  }}</td>
      <td>{{ comment.postId }}</td>
      <td>{{ e ? "Even" : "Odd" }}</td>
      <td>{{ comment.body }}</td>
      <td>{{ comment.email }}</td>
      <td>{{ comment.name }}</td>
    </tr>
  </table>
  