<!-- <h1>Welcome to {{ hotelName }}</h1> -->
hello
<!-- <hinv-header></hinv-header> -->
<!-- <hinv-header></hinv-header> -->
<!-- {{rooms$ | async | json}}
<div [hidden]="hideRooms">
  Number of Rooms:
  <div [ngStyle]= "{'color': rooms.availableRooms ? 'green' : 'red'}"
    [innerText]="numberOfRooms">
  </div>
</div> -->
<!-- 
<div>
  Message from Employee {{message$ | async}}
</div>

{{ rooms?.availableRooms ?? "No rooms" }} -->

<!-- {{roomList | json}}
<div *ngIf="selectedRoom">
  {{ selectedRoom |json }}
</div> -->

{{priceFilter | json}}
<div>
  <mat-form-field class="example-full-width">
  <input type="number" matInput [(ngModel)]="priceFilter" placeholder="Enter price">
  </mat-form-field>
</div>

<div *ngIf="rooms$| async as rooms">
  <hinv-rooms-list [rooms]="rooms" [price]="priceFilter" [title]="title"
    (selectedRoom)="selectRoom($event)"></hinv-rooms-list>
</div>

<!-- <button (click)="toggle()">Toggle</button>

<button (click)="editRoom()">Edit Room</button>
<button (click)="deleteRoom()">Delete Room</button>

<h1>
  {{totalBytes}} loaded
</h1> -->
<a [routerLink]="['1']" routerLinkActive="router-link-active">dfsf</a>
<br>
<a [routerLink]="['list']" routerLinkActive="router-link-active">list</a>
<router-outlet></router-outlet>
